.photoset {
    &__owner {
        text-align: center;
    }
    &__title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 1px 1px 2px black;
    }
    &__description {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px 1px 2px black;
    }
    &__button {
        margin-top: 10px;
        display: block;
        width: 100%;
        border: none;
        background-color: #D3D9D3;
        opacity: 0.5;
        color: black;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
        transition: opacity .5s ease;
        &:hover {
            opacity: 1;
        }
    }
}