.carousel {
    margin-top: 20px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    &__inner {
        white-space: nowrap;
        transition: transform .3s;
    }
}

.carousel__arrow--right {
    position: absolute;
    top: 50%;
    right: 5%;
}

.carousel__arrow--left {
    position: absolute;
    top: 50%;
    left: 5%;
}